# Implementing decision tree algorithm and test the algorithm

In [44]:
# importing librabries
import numpy  as  np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import confusion_matrix
from sklearn. preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split 
from sklearn import metrics

Red Wine Quality Dataset : The two datasets are related to red and white variants of the Portuguese "Vinho Verde" wine. For more details, consult the reference [Cortez et al., 2009]. Due to privacy and logistic issues, only physicochemical (inputs) and sensory (the output) variables are available (e.g. there is no data about grape types, wine brand, wine selling price, etc.).

These datasets can be viewed as classification or regression tasks. The classes are ordered and not balanced (e.g. there are much more normal wines than excellent or poor ones).

In [12]:
#reading the  dataset
vishnu =  pd.read_csv("C:/Users/tmvis/Downloads/archive (1)/winequality-red.csv")
X = vishnu.iloc[:, 8:11].values 
y = vishnu.iloc[:, 11].values

FIRST FIVE ROWS OF THE DATASET

In [13]:
vishnu.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

Encoding Categorical data

In [14]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1]) 
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2]) 
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("pH", OneHotEncoder(), [1])], remainder = 'passthrough')
X = ct.fit_transform(X)
X = X[:, 1:]

Splitting the dataset into the Training set and Test set

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15,
random_state = 0, stratify = y)

Feature Scaling

In [20]:
sc = StandardScaler(with_mean=False)
X_train = sc.fit_transform(X_train) 
X_test = sc.transform(X_test)

Defining the Machine Learning Models

In [21]:
model2 = DecisionTreeClassifier(max_depth = 2)

Training the machine learning models

In [22]:
model2.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=2)

Making the Prediction

In [23]:
y_pred2 = model2.predict(X_test)

Confusion Matrix

In [25]:
cm_DecisionTree = confusion_matrix(y_test, y_pred2)
cm_DecisionTree

array([[ 0,  0,  0,  1,  0,  0],
       [ 0,  0,  5,  3,  0,  0],
       [ 0,  0, 79, 23,  0,  0],
       [ 0,  0, 50, 46,  0,  0],
       [ 0,  0,  3, 27,  0,  0],
       [ 0,  0,  0,  3,  0,  0]], dtype=int64)

In [26]:
print('Accuracy Score on test data: ',metrics.accuracy_score(y_test, y_pred2))

Accuracy Score on test data:  0.5208333333333334

Assigning TP,TN,FP,FN

In [34]:
TP = cm_DecisionTree[3,3]
TN = cm_DecisionTree[2,2]
FP = cm_DecisionTree[2,3]
FN = cm_DecisionTree[3,2]

Precision rate

In [35]:
precision = TP / (TP + FP)
np.seterr(divide='ignore', invalid='ignore')
print(precision)

0.6666666666666666

Recall Rate

In [36]:
Recall = TP/(TP/FN)
Recall

50.0

Accuracy

In [38]:
Accuracy = ((TP+TN))/ float(TP+TN+FP+FN)
Accuracy

0.6313131313131313

Error Rate

In [39]:
Error = (FP+FN)/ float(TP+TN+FP+FN)
Error

0.3686868686868687